# git and svn ignores
# svn propedit svn:ignore .
# svn propset  svn:ignore -F .svnignore .
# -- Windows --
Desktop
Evernote
mplayer
projects
workspace
DropBox
MediaStorage
_backup_
mail
profiles
RAMDisk.img
vimfiles
_viminfo
.viminfo
vimfiles/.netrwhist
.thumbnails
.kdiff3rc
.ssh
.gitk
.bash_history
.VirtualBox
.gimp-2.6
# -- Linux Vega --
Downloads
Music
Recent
Videos
Documents
Private
Public
Ubuntu One
Templates
Pictures
Dropbox
.libreoffice
.beyondcompare
.windows-label
.ICEauthority
.mysqlgui
.Private
.mysqlnavigator.history
.gnupg
.cpan
.gnome2_private
.pki
.conky
.mysql_history
.tomboy.log
.gconf
.fontconfig
.mc
.gksu.lock
.gtk-recordmydesktop
.plt-scheme
.gnome
.cairo-clockrc
.hplip
.update-manager-core
.pamusb
.npm
.ure
.esd_auth
.selected_editor
.bashrc
.xscreensaver
.compiz-gnomecompat
.sudoku
.wallpapers
.appdata
.spectemurc
.mysqlnavigator.rc
.recently-used
.pulse
.macromedia
.links2
.sudo_as_admin_successful
.gstreamer-0.10
.config
.gtkrc-2.0
.mozilla
.registry
.mplayer
.gegl-0.0
.tuxtype
.themes
.local
.dbus
.synfig
.printer-groups.xml
.wine
.cache
.openoffice.org
.texmf-var
.tomboy
.gtk-bookmarks
.recently-used.xbel
.icedteaplugin
.dropbox
.dropbox-dist
.cvspass
.lesshst
.mission-control
.compiz
.conkyrc
.thunderbird
.mozilla-thunderbird
.aptitude
.qt
.legal
.fonts
.ktoon
.pulse-cookie
.ecryptfs
.wapi
.bluefish
.nautilus
.gvfs
.quantz
.dmrc
.gnome2
.songbird2
.Skype
.scim
.openshot
.update-notifier
.gconfd
.xsession-errors.old
.bash_logout
.adobe
.google
.netx
.evolution
.xsession-errors
.dmrc.5A4FVU
.subversion
# -- Linux Crater --
Mail
.forward
.python-eggs
.Xauthority
.rnd
public_html
mbox
sent
# -- MacOSX Taurus --
Movies
Library
Sites
.CFUserTextEncoding
.cups
.sshterm
.crash_report_frames
.crash_report_preview
.crash_report_checksum
.eclipse
.DS_Store
