[user]
	name = okertanov
	email = okertanov@gmail.com
[github]
	user = okertanov
	token = 03ad2db03dbaafb1e7ed6edab845a7fb
[core]
	autocrlf = false
	safecrlf = true
	whitespace = -trailing-space,-space-before-tab
	pager =
	editor = vim
[color]
	interactive = auto
[alias]
	glog = log --graph --abbrev-commit
	olog = log --pretty=oneline
    dlog = log --oneline --decorate
	clog = log --pretty=oneline --abbrev-commit --graph --decorate
[push]
	default = tracking
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
